In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
from tweepy import OAuthHandler, API, Cursor
import json

In [134]:
ckey = 'XTbo2ubWMoeHONk9ASKV5VJNs'
csecret = 'UhZY8gagzVaHPlxdyhjMQPJ0ojf42IsZUgKHGQYpJICATIci84'
atoken = '38060754-Lh738HRc6XRbJAO9FvuhFSZu5aqXo65SXHjzGYLRQ'
asecret = 'TeLJEioRUbuDJl77jiUy35pnDeJiY9lUkMRdzQuBxUl8o'
Bearer = 'AAAAAAAAAAAAAAAAAAAAAHbEOwEAAAAAOSRFS1w0Wmx%2BmnDLsTzP%2FeyEglc%3DWsmsldmU9ksMUtzwebxCHbK1GEvweui2yazIe4oMVxpY2jSM2E'
# Bearer = 'AAAAAAAAAAAAAAAAAAAAAHgcCAAAAAAAuXvdZncP5u3ZUYEuy5joUGKjubY%3DWZlXjNkNQbdPa8y2rAaPkVwHOnZa8tXpZbaXB7cLbly28rfbvX'

In [22]:
auth = OAuthHandler(ckey, csecret)
auth.set_access_token(atoken, asecret)

In [23]:
api = API(auth,
        wait_on_rate_limit=True,
        wait_on_rate_limit_notify=True)

In [32]:
 #for tweet in Cursor(api.search, q="@SudebanInforma", tweet_mode="extended").items(2):
 #    print (json.dumps(tweet._json, indent=4))

# API con request

Request de prueba:
curl "https://api.twitter.com/2/users/2244994945/mentions?expansions=author_id&tweet.fields=conversation_id,lang&user.fields=created_at,entities&max_results=5" -H "Authorization: Bearer $BEARER_TOKEN"

Página: 
https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/api-reference/get-users-id-mentions#tab1

In [135]:
import requests
import pandas as pd

#curl "https://api.twitter.com/2/tweets/search/all?query=from%3Atwitterdev%20new%20-is%3Aretweet&max_results=10" -H "Authorization: Bearer $BEARER_TOKEN"        

def buscar_tweets_mentions(mentions_id, cantidad_tweet=400):

    headers = {'Authorization': f'Bearer {Bearer}'} # Variable de autorizador
    url = f'https://api.twitter.com/2/users/{mentions_id}/mentions' # url de invocacion
    respuesta = '' # variable que guarda toda la respuesta
    data = pd.DataFrame()
    params = {
        'tweet.fields': 'created_at,author_id',
        'max_results':10} 
    
    for cantidad in range(int(cantidad_tweet/10)):
            respuesta = requests.get(url, params=params, headers=headers).json()
            data = data.append(respuesta['data'])
            params = {
                'tweet.fields': 'created_at,author_id',
                'pagination_token': respuesta['meta']['next_token'],
                'max_results':10} 
    
    return data

In [107]:
def grabar_tweets(df, ruta_archivo):
    df.to_csv(ruta_archivo)

In [136]:
id = 67401711
respuesta_funcion = buscar_tweets_mentions(id,20)

In [108]:
ruta = f'../raw_data/{id}.csv'
grabar_tweets(respuesta_funcion, ruta)

In [138]:
import pandas as pd
data_read['created_at'] = pd.to_datetime(data_read['created_at'])

#respuesta_funcion.shape
respuesta_funcion.head(20)
data_read.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   author_id   800 non-null    int64
 1   created_at  800 non-null    datetime64[ns, UTC]
 2   id          800 non-null    int64
 3   text        800 non-null    object
dtypes: datetime64[ns, UTC](1), int64(2), object(1)
memory usage: 31.2+ KB

# Invocar la funcion desde py

In [128]:
from QueEstaPasando import api_twitter
bancos = ['Mercantil', 'Banesco', 'Venezuela', 'Provincial', 'BOD', 'Sudeban']
# ids = [67401711, 105219620, 149959442, 126086956, 221765424, 835785594]
ids = [67401711]
for id in ids:
    respuesta_api = api_twitter.buscar_tweets_mentions(id,800)
    ruta = f'../raw_data/{id}.csv'
    api_twitter.grabar_tweets(respuesta_api, ruta)

In [129]:
data_read = pd.read_csv('../raw_data/67401711.csv', index_col=0)
data_read.shape
data_read.head()

,author_id,created_at,id,text
0,601856885,2021-04-27T18:01:08.000Z,1387104539648667649,"@MercantilBanco buenas tardes, que debo hacer ..."
1,49336014,2021-04-27T18:00:24.000Z,1387104354910539778,@MercantilBanco requiero hacer un pago electró...
2,1387101068853714950,2021-04-27T17:52:39.000Z,1387102405041524742,@MercantilBanco estoy afiliado a t pago no pue...
3,32323041,2021-04-27T17:34:08.000Z,1387097747665391617,@MercantilBanco buenas tardes. Estoy tratando ...
4,76481335,2021-04-27T17:10:12.000Z,1387091723269115904,@libilis1 @MercantilBanco Ni a mi

In [125]:
import pandas as pd
data_read['created_at'] = pd.to_datetime(data_read['created_at'])
data_read.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  800 non-null    datetime64[ns, UTC]
 1   text        800 non-null    object
 2   id          800 non-null    int64
 3   author_id   800 non-null    int64
dtypes: datetime64[ns, UTC](1), int64(2), object(1)
memory usage: 31.2+ KB